* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #3f51b5;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    height: 100%;
    list-style: none;
}

.navigation ul li:hover {
    background-color: #4b5cb9;
}

.navigation ul li:first-child:hover {
    background-color: transparent;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
}

.navigation ul li .icon {
    font-size: 25px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li .title {
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.toggle {
    position: fixed;
    left: 300px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.toggle.active {
    left: 60px;
}

